.content {
  display: inline-flex;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  flex-shrink: 0;
}

.bold {
  font-weight: bold;
}

.content:first-child {
  border-top: 1px solid #ccc;
}
